body{
    max-width: 100%;
    font-family: 'Montserrat';
   

}
/* HEADER STYLING */
header{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #f3a2a2;
}
header p{
    font-size: 2rem;
    color: #461d12;
    font-weight: bold;
    margin: 15px 0;
}
/* END OF HEADER STYLING */


/* MAIN BODY STYLING */
.container{
    position: relative;
    padding: 2rem 0 ;
    margin-bottom: 4rem;
    border-bottom: 2px solid #da7b7b;
}
.hero-text{
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    color: #461d12;
    margin-top: -1.5rem;
}
.hero-text p{
    font-size: 1.5rem;
}
main{
    /* background: linear-gradient(10deg, #d4b692, #f3dbbd, white); */
    padding: 1px 3rem 3rem 3rem;
    background: linear-gradient(10deg, #d4b692, #f3dbbd, white);
    /* border-radius: 10px; */
}

.input-box input{
    width: 50%;
    padding: 10px 10px;
    background:#f3e1dc ;
    border-radius: 8px;
    border: none;       
    outline: none;
    font-size: 1rem;
    color: rgb(65, 60, 60);
    font-weight: 500; 
}
textarea{
    min-width: 80%;
    height: auto;
    outline: none;
    border-radius: 5px;
    background:#f3e1dc;
    padding: 10px;
    border: 1px solid #f3e1dc;
    font-size: 1rem;
    
}
/* END OF MAIN STYLING */


/* BUTTON STYLING */
button{
    padding: 8px 2rem;
    font-size: 0.9rem;
    border-radius: 20px;
    border: 1px solid #461d12;
    color:  whitesmoke;
    background: linear-gradient(90deg, #5a2e20,#461d12); 
    cursor: pointer;
    margin-top: 1rem;
}
button:hover{
    color: #f1d0d0;
}

@media (max-width: 600px) {

    button{
        padding: 0.5rem 1.5rem;
        font-size: 0.7rem;
    }
    .can
    form{
        margin-bottom: 4rem ;
    }
    main{
        padding: 1px 2rem;
    }
}