*{
    text-decoration: none;
}
    body{
    max-width: 100%;
    font-family: 'Montserrat';
}
/* HEADER STYLING */
header{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #f3a2a2;
}
header p{
    font-size: 2rem;
    color: #461d12;
    font-weight: bold;
    margin: 15px 0;
}
/* END OF HEADER STYLING */


.container{
    position: relative;
    padding: 2rem 0 ;
    margin-bottom: 4rem;
    border-bottom: 2px solid #da7b7b;
}
main{
    background: linear-gradient(10deg, #d4b692, #f3dbbd, white);
    padding: 1px 3rem 3rem 3rem;
}
.entry-container{
    background: #f0d8bb;
    padding: 1.5rem;
    box-shadow: 5px 5px  #b4a4a4, 3px 3px #f1d0d0;
    border-radius: 10px;
}
button{
    padding: 0.5rem 1.5rem;
    margin: 10px 0;
    font-size: 1rem;
    border-radius: 20px;
    border: 1px solid #461d12;
    color:  whitesmoke;
    background: #461d12;
    cursor: pointer;
} 
.cancel:hover{
    color: #f3e1dc;
}

@media (max-width: 600px) {

    button{
        padding: 0.3rem 1rem;
        font-size: 0.9rem;
    }
    form{
        margin-bottom: 4rem ;
    }
    main{
        padding: 1px 2rem;
    }
}