
body {
    font-family: 'Montserrat';
    /* background: #f3f1e9; */
    
}
.container{
    /* border-radius: 10px; */
    padding: 10px 3rem 1rem 3rem;
    background: linear-gradient(10deg, #d4b692, #f3dbbd, white);
}

/* header styling */    
header p {
    font-size: 2rem;
    color: #461d12;
    padding-bottom: 0.8rem;
    font-weight: bold;
    margin: 15px 0;
    border-bottom: 2px solid #f3a2a2;
}

/* header styling End */


/* main body styling */
.hero-text{
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 4rem;
    color:#461d12;
    padding-bottom: 6rem;
}
span{
    color: #c5ab8b;
    font-size: 3rem;
    font-family: sans-serif;
    font-weight: none;
}
.hero-text p{
    margin-top: -10px;
    font-size: 1rem;
    color: #461d12;
}
.signin-btn {
    background: #461d12; 
    color: whitesmoke;
    border-radius: 20px ;
    border: 1px solid #461d12;
    margin: 1.5rem 0;
    padding: 15px 7rem;
    cursor: pointer;
}
.signin-btn:hover{
    color: #f1d0d0;
}
/* end of main body styling */

/* card styling */
.card{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px,150px));
    text-align: center;
    gap: 5rem;
    justify-content: center;
    margin-bottom: 4rem;
    padding-bottom: 3rem;
    border-bottom: 2px solid #da7b7b;
}
.card div{
    border: 1px solid #d46868;
    padding: 0 2rem; 
    border-radius: 25px;
    font-size: 1rem;
    color: #d46868;
}



/* MEDIA */
@media (max-width: 600px) {

    .signin-btn{
        padding: 14px 3rem;
        font-size: 0.8rem;
        margin: 0.8rem 0;
    }

.container {
    padding: 1px 2rem;
}
.hero-text h1{
    /* padding-bottom: 3rem; */
    font-size: 2rem;
}
span{
    font-size: 1.8rem;
    grid-template-columns: repeat(auto-fit, minmax(30px,80px))
}
.card{
    display: display;
    gap: 2rem;
}
.hero-text p{
    font-size: 0.6rem;
}
}