body{
    max-width: 100%;
    font-family: 'Montserrat';
   
}
/* HEADER STYLING */
header{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #f3a2a2;
    margin-bottom: 2rem;
}
header p{
    font-size: 2rem;
    color: #461d12;
    font-weight: bold;
    margin: 15px 0;
}
#logout-btn, .nav-btn{
    margin-top: 1rem;
    padding: 8px 1.5rem;
}
/* END OF HEADER STYLING */

.container{
    position: relative;
    padding: 0 0 1rem 0 ;
    margin-bottom: 8rem;
    border-bottom: 2px solid #da7b7b;
    
}
.hero-text{
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    margin-top: -1.5rem;
    color: #461d12;
}

main{
    padding: 1px 3rem 10px 3rem;
    border-radius: 10px;
    background: linear-gradient(10deg, #d4b692, #f3dbbd, white);
    
}
form{
    background: #f0d8bb;
    padding: 1rem;
    box-shadow: 5px 5px  #b4a4a4, 3px 3px #f1d0d0;
    border-radius: 10px;
}   

.entry{
    padding: 1rem;
}

/* BUTTON AND ENTRY STYLING */

button{  
    font-size: 0.9rem;
    padding: 12px 2rem;
    border-radius: 20px;
    border: 1px solid #461d12;
    color:  whitesmoke;
    background: linear-gradient(90deg, #5a2e20,#461d12); 
    cursor: pointer;
    margin-right: 1rem
}
button:hover{
    color: #f1d0d0;
}

#new-entry-btn{
    margin-top: 1.5rem;
}

/* LOADER STYLING */
.loader-container{
    min-height: 80%;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

    /* MEDIA */
    @media (max-width: 600px) {

        button{
            padding: 0.5rem 1.5rem;
            font-size: 0.7rem;
            margin-right: 1rem;
        }
        form{
            padding: 0 1rem;
            /* margin-bottom: 4rem ; */
        }
        main{
            padding: 1rem 1rem;
        }
    }